* {
    font-family: 'Sarabun', sans-serif;
}

body {
    margin: 0;
    padding-top: 100px;
    /* กันเมนูบังเนื้อหา */
    padding-top: 80px;
    /* กะความสูงของ header */
}

/* Header */
.header {
    background-color: transparent; /* เริ่มต้นใส */
    transition: background-color 0.3s ease;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
}
 h4 {
    color: rgb(245, 207, 226); /* ตอนยังไม่เลื่อน สีชมพู */
    transition: color 0.3s ease;
}

.header.scrolled h4 {
    color: rgb(83, 208, 254); /* ตอนเลื่อนลง เปลี่ยนเป็นสีขาว */
}
.header.scrolled {
    background-color: #e9c9fd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Navbar */
ul.nav {
    place-content: center;
}

a.nav-link {
    color: #000;
    font-weight: 500;
    padding: 10px 15px;
    transition: all 0.3s;
}

a.nav-link:hover {
    color: #93ace5;
}

.nav-item.dropdown .dropdown-menu {
    background-color: #6c5ce7;
}

.nav-item.dropdown .dropdown-menu a {
    color: white;
}

.nav-item.dropdown .dropdown-menu a:hover {
    background-color: #5a3cb2;
}
